.nav li a.text-underline {
    text-decoration: underline;
}
.title-name {
    font-family: "Hurricane", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    margin-right: 1rem;
  }

  .col a {
    text-decoration: none;
  }


h2.minor-heading {
    font-size: 1.25rem;
    text-decoration: underline;
    margin-bottom: 0;
}
.minor-heading {
    font-size: 1.25rem;
    text-decoration: underline;
    margin-bottom: 0;
}
.cases figure {
    background-color: #ededed;
    padding: 2rem;
    display: block;
}
.cases figure img {
    width:100%;
}
.cases figure img.image-half {
    width: 45%;
}
.cases figcaption {
    font-style: italic;
    margin: 1rem 0 0 0;
}
.icons img {
    width:30px;
    height:auto;
}
.certs {
    padding-top: 1rem;
}
.certs p {
    margin-bottom:0;
}
.skills {
    padding-top: 1rem;
}
.skills .col {
    padding-left:0;
}
@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 75%;
    }
}