/* line 5, sass/styles.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 11, sass/styles.scss */
html {
  font-size: 16px; }

/* line 14, sass/styles.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: ghostwhite;
  color: black; }

/* line 22, sass/styles.scss */
html, body {
  height: 100%; }

/* line 25, sass/styles.scss */
main {
  position: relative;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; }

/* line 31, sass/styles.scss */
main.intro {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 0 auto; }

/* line 37, sass/styles.scss */
.left {
  width: 30%;
  float: left;
  padding-right: 1rem; }

/* line 42, sass/styles.scss */
.right {
  width: 70%;
  float: right; }

/* line 46, sass/styles.scss */
h1 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5; }

/* line 51, sass/styles.scss */
#alpha {
  position: relative;
  height: 100vh;
  background: url(../img/sleeping-cat.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8; }

/* line 59, sass/styles.scss */
.content {
  padding: 2rem; }

/* line 62, sass/styles.scss */
#portfolio {
  padding: 0 4rem 2rem 4rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

/* line 68, sass/styles.scss */
h2 {
  font-size: 2.75rem;
  line-height: 1.5;
  padding-bottom: 2rem; }

/* line 73, sass/styles.scss */
h3 {
  font-size: 1.75rem;
  padding: 1rem 0 1.25rem 0; }

/* line 77, sass/styles.scss */
p, ul {
  padding-bottom: 0.5rem; }

/* line 80, sass/styles.scss */
.project {
  padding: 2rem 0; }
  /* line 82, sass/styles.scss */
  .project ul {
    padding-left: 3rem; }
  /* line 85, sass/styles.scss */
  .project:after {
    clear: both;
    content: "";
    display: table; }

/* line 91, sass/styles.scss */
img {
  max-width: 100%; }

/* line 94, sass/styles.scss */
footer {
  text-align: center; }

/* line 97, sass/styles.scss */
.nowrap {
  white-space: nowrap; }

@media only screen and (max-width: 950px) {
  /* line 101, sass/styles.scss */
  .left {
    width: 100%;
    float: none;
    padding: 0; }

  /* line 106, sass/styles.scss */
  .right {
    width: 100%;
    float: none; } }
