/* line 5, sass/styles-working.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 15, sass/styles-working.scss */
html {
  font-size: 16px; }

/* line 18, sass/styles-working.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #fdfdfd;
  color: #434443;
  padding: 0; }

/* line 27, sass/styles-working.scss */
html, body {
  height: 100%; }

/* line 30, sass/styles-working.scss */
nav.navbar {
  display: inline-block; }

/* line 33, sass/styles-working.scss */
.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0; }

/* line 41, sass/styles-working.scss */
main.container {
  padding-top: 40px;
  margin-left: 20px; }

/* line 45, sass/styles-working.scss */
.project {
  padding-top: 2rem; }

/* line 48, sass/styles-working.scss */
section {
  padding-top: 2.5rem; }
  /* line 50, sass/styles-working.scss */
  section:first-of-type {
    padding-top: 0; }

/* line 54, sass/styles-working.scss */
h1 {
  color: #434443;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  display: inline-block;
  vertical-align: top; }
  /* line 61, sass/styles-working.scss */
  h1 .subtitle {
    display: block;
    font-size: 2rem; }

/* line 66, sass/styles-working.scss */
h2 {
  font-size: 2rem;
  color: #434443;
  font-weight: 700;
  border-bottom: 5px solid #434443;
  padding-bottom: 3px;
  margin-bottom: 2rem; }

/* line 74, sass/styles-working.scss */
h3 {
  font-size: 1.55rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  color: #434443; }

/* line 80, sass/styles-working.scss */
.project ul.skills {
  margin-left: 20px;
  list-style-type: disc; }

/* line 86, sass/styles-working.scss */
a {
  color: #20399D;
  text-decoration: underline; }
  /* line 89, sass/styles-working.scss */
  a:visited {
    color: #20399D; }
  /* line 92, sass/styles-working.scss */
  a:hover {
    color: #20399D;
    background-color: #FFFF40; }
  /* line 96, sass/styles-working.scss */
  a:active {
    color: #20399D;
    background-color: transparent; }

/* line 101, sass/styles-working.scss */
img {
  width: 100%; }

/* line 104, sass/styles-working.scss */
img.image-half {
  width: 40%; }
  /* line 106, sass/styles-working.scss */
  img.image-half.second {
    margin: 0 0 0 1rem; }

/* line 110, sass/styles-working.scss */
img.image-quarter {
  width: 25%; }

/* line 113, sass/styles-working.scss */
ul {
  list-style-type: disc;
  margin-left: 20px; }

/* line 117, sass/styles-working.scss */
figure {
  background-color: #ededed;
  padding: 0.5rem; }

/* line 121, sass/styles-working.scss */
figcaption {
  font-style: italic;
  margin: 1rem 0 0 0; }

/* line 125, sass/styles-working.scss */
blockquote {
  background: #ededed url("../img/quotes.png") no-repeat top left;
  padding: 2rem; }
  /* line 128, sass/styles-working.scss */
  blockquote p {
    margin: 0 0 0 3rem;
    font-size: 0.9rem; }
  /* line 132, sass/styles-working.scss */
  blockquote cite {
    font-size: 0.9rem;
    text-align: right;
    display: block;
    margin: 0.5rem 0 0 0; }

/* line 140, sass/styles-working.scss */
.navigation .bg-light {
  background-color: transparent !important; }

/* line 144, sass/styles-working.scss */
.navigation.desktop {
  display: none; }
  /* line 146, sass/styles-working.scss */
  .navigation.desktop nav {
    position: fixed; }
  /* line 149, sass/styles-working.scss */
  .navigation.desktop ul {
    list-style-type: none;
    padding: 20px 0 0 10px; }
    /* line 152, sass/styles-working.scss */
    .navigation.desktop ul a {
      font-size: 1.05rem;
      font-weight: 600;
      padding: 10px 0 10px 0;
      display: inline-block;
      line-height: 1.5;
      color: #434443;
      text-decoration: none; }
      /* line 160, sass/styles-working.scss */
      .navigation.desktop ul a:visited {
        color: #434443; }
      /* line 163, sass/styles-working.scss */
      .navigation.desktop ul a:hover {
        color: #434443;
        text-decoration: underline;
        background-color: transparent; }
      /* line 168, sass/styles-working.scss */
      .navigation.desktop ul a:active {
        color: #434443;
        text-decoration: underline; }

/* line 176, sass/styles-working.scss */
.navigation-mobile {
  display: inline-block; }
  /* line 178, sass/styles-working.scss */
  .navigation-mobile button span {
    background-image: url("../img/menu.png"); }
  /* line 181, sass/styles-working.scss */
  .navigation-mobile button.open span {
    color: #20399D;
    background-image: url("../img/close.png"); }
  /* line 186, sass/styles-working.scss */
  .navigation-mobile .bg-light {
    background-color: #fdfdfd !important; }
  /* line 189, sass/styles-working.scss */
  .navigation-mobile a {
    font-size: 1.05rem;
    font-weight: 600;
    padding: 10px 0 10px 0;
    display: inline-block;
    line-height: 1.5;
    color: #434443;
    text-decoration: none; }
    /* line 198, sass/styles-working.scss */
    .navigation-mobile a:hover {
      background-color: transparent; }

/* line 203, sass/styles-working.scss */
.row {
  margin-right: 25px; }

@media (min-width: 992px) {
  /* line 207, sass/styles-working.scss */
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column; }

  /* line 211, sass/styles-working.scss */
  .navigation.desktop {
    display: block;
    background-color: #F6F7F6;
    border-right: 1px solid #EEEFEE; }

  /* line 216, sass/styles-working.scss */
  .navigation-mobile {
    display: none; }

  /* line 219, sass/styles-working.scss */
  main.container {
    padding-top: 0;
    margin-left: 0; }

  /* line 223, sass/styles-working.scss */
  .row {
    margin-right: -15px; }

  /* line 226, sass/styles-working.scss */
  figure {
    padding: 2rem; } }
