/* line 5, sass/styles.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 11, sass/styles.scss */
html {
  font-size: 16px; }

/* line 16, sass/styles.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: ghostwhite;
  color: black; }

/* line 24, sass/styles.scss */
html, body {
  height: 100%; }

/* line 27, sass/styles.scss */
main {
  position: relative; }

/* line 30, sass/styles.scss */
h1 {
  text-align: center;
  font-size: 1.5rem; }

/* line 35, sass/styles.scss */
#alpha {
  position: relative;
  height: 100vh;
  background: url(../img/sleeping-cat.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8; }

/* line 44, sass/styles.scss */
.content {
  padding: 2rem; }

/* line 47, sass/styles.scss */
nav#primary {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: ghostwhite;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); }
  /* line 53, sass/styles.scss */
  nav#primary ul {
    list-style-type: none;
    padding: 1rem 0 3rem 0;
    display: block;
    margin: 0 auto;
    width: 350px; }
    /* line 59, sass/styles.scss */
    nav#primary ul li {
      display: inline-block;
      float: left; }
      /* line 62, sass/styles.scss */
      nav#primary ul li a {
        color: black;
        text-decoration: underline;
        padding: 0.5rem 2rem 0.5rem 0; }
        /* line 66, sass/styles.scss */
        nav#primary ul li a:hover {
          cursor: pointer; }

/* line 74, sass/styles.scss */
#portfolio {
  padding: 0 4rem 2rem 4rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

/* line 81, sass/styles.scss */
h2 {
  font-size: 2.75rem;
  padding-bottom: 2rem; }

/* line 85, sass/styles.scss */
h3 {
  font-size: 1.75rem;
  padding: 1rem 0 1.25rem 0; }

/* line 89, sass/styles.scss */
p, ul {
  padding-bottom: 0.5rem; }

/* line 92, sass/styles.scss */
.project {
  padding: 2rem 0; }
  /* line 94, sass/styles.scss */
  .project ul {
    padding-left: 3rem; }

/* line 98, sass/styles.scss */
#navigation {
  padding-top: 6rem; }

/* line 101, sass/styles.scss */
a.jump {
  margin-top: 50px; }

/* line 104, sass/styles.scss */
img {
  max-width: 1072px; }

/* line 107, sass/styles.scss */
.second img {
  max-width: 250px; }
