/* line 5, sass/styles-working.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* line 15, sass/styles-working.scss */
html {
  font-size: 16px; }

/* line 18, sass/styles-working.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #fdfdfd;
  color: #707070;
  padding: 0; }

/* line 28, sass/styles-working.scss */
html, body {
  height: 100%; }

/* line 31, sass/styles-working.scss */
nav.navbar {
  display: inline-block; }

/* line 34, sass/styles-working.scss */
.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0; }

/* line 41, sass/styles-working.scss */
.navigation {
  background-color: #e8e8e8; }
  /* line 43, sass/styles-working.scss */
  .navigation .bg-light {
    background-color: transparent !important; }

/* line 47, sass/styles-working.scss */
.navigation.desktop {
  display: none; }
  /* line 49, sass/styles-working.scss */
  .navigation.desktop nav {
    position: fixed; }
  /* line 52, sass/styles-working.scss */
  .navigation.desktop ul {
    list-style-type: none;
    padding: 20px 0 0 10px; }
    /* line 55, sass/styles-working.scss */
    .navigation.desktop ul a {
      font-size: 1.05rem;
      font-weight: 600;
      padding: 10px 0 10px 0;
      display: inline-block;
      line-height: 1.5;
      color: #0b4c8f; }

/* line 66, sass/styles-working.scss */
.navigation-mobile {
  display: inline-block; }
  /* line 68, sass/styles-working.scss */
  .navigation-mobile button.open span {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 352 512'><path stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'/></svg>"); }
  /* line 72, sass/styles-working.scss */
  .navigation-mobile .bg-light {
    background-color: #e8e8e8 !important; }
  /* line 75, sass/styles-working.scss */
  .navigation-mobile a {
    font-size: 1.05rem;
    font-weight: 600;
    padding: 10px 0 10px 0;
    display: inline-block;
    line-height: 1.5;
    color: #0b4c8f; }

/* line 84, sass/styles-working.scss */
main.container {
  padding-top: 40px;
  margin-left: 20px; }

/* line 88, sass/styles-working.scss */
.project {
  padding-top: 2rem; }

/* line 91, sass/styles-working.scss */
section {
  padding-top: 2.5rem; }
  /* line 93, sass/styles-working.scss */
  section:first-of-type {
    padding-top: 0; }

/* line 98, sass/styles-working.scss */
ul {
  margin-left: 20px; }

/* line 101, sass/styles-working.scss */
img {
  width: 100%; }

@media (min-width: 992px) {
  /* line 106, sass/styles-working.scss */
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column; }

  /* line 110, sass/styles-working.scss */
  .navigation.desktop {
    display: block; }

  /* line 113, sass/styles-working.scss */
  .navigation-mobile {
    display: none; }

  /* line 116, sass/styles-working.scss */
  main.container {
    padding-top: 0;
    margin-left: 0; } }
