////////
// all
/////////

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 $color-blue: #118381;
 $color-dark-grey: #707070;
 $color-light-grey: #e8e8e8;
 $color-lightest-grey: #fdfdfd;
 $color-link-blue: #0b4c8f;
html {
    font-size: 16px;
}
body {
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
     font-size: 1rem;
     line-height: 1.5rem;
     background-color: ghostwhite;
     color: black;
     padding: 0;
 }
html, body {
    height: 100%;
}
nav.navbar {
    display: inline-block;
}
.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.navigation {
    background-color:antiquewhite;
    .bg-light {
        background-color:transparent!important;
    }
}
.navigation.desktop {
    display: none;
    nav {
        position: fixed;
    }
    ul {
        list-style-type: none;
        padding: 20px 0 0 10px;
    }
    
}
.navigation-mobile {
    display: inline-block;
    button.open span {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 352 512'><path stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'/></svg>");

    }
    .bg-light {
        background-color: antiquewhite!important;
    }
}
main.container {
    padding-top: 40px;
    margin-left: 20px;
}

ul {
    margin-left: 20px;
}
img {
    width: 100%;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .navigation.desktop {
        display: block;
    }
    .navigation-mobile {
        display: none;
    }
    main.container {
        padding-top: 0;
        margin-left: 0;
    }
}