////////
// all
/////////

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 $color-dark-grey: #343434;
 $color-light-grey: #e8e8e8;
 $color-lightest-grey: #fdfdfd;
 $color-link-blue:#20399D;
 $color-link-hover:#FFFF40;
html {
    font-size: 16px;
}
body {
    font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-size: 1rem;
     line-height: 1.5rem;
     background-color:$color-lightest-grey;
     color:  $color-dark-grey;
     padding: 0;
 }
html, body {
    height: 100%;
}
nav.navbar {
    display: inline-block;
}
.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

main.container {
    padding-top: 40px;
    margin-left: 20px;
}
.project {
    padding-top: 2rem;
}
section {
    padding-top:2.5rem;
    &:first-of-type {
        padding-top:0;
    }
}
h1 {
    color: $color-dark-grey;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    .subtitle {
        display: block;
        font-size: 2rem;
    }
}
h2 {
    font-size: 2rem;
    color:$color-dark-grey;
    font-weight: 700;
    border-bottom: 5px solid $color-dark-grey;
    padding-bottom: 3px;
    margin-bottom: 2rem;
}
h3 {
    font-size: 1.55rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    color:$color-dark-grey;
}
.project ul.skills {
    margin-left: 20px;
    list-style-type: disc;
    li {
    }
}
a {
    color: $color-link-blue;
    text-decoration: underline;
    &:visited {
        color: $color-link-blue;
    }
    &:hover {
        color: $color-link-blue;
        background-color: $color-link-hover;
    }
    &:active {
        color: $color-link-blue;
        background-color:transparent;
    }
}
img {
    width: 100%;
}
img.image-half {
    width: 40%;
    &.second {
        margin: 0 0 0 1rem;
    }
}
img.image-quarter {
    width: 25%;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
}
figure {
    background-color: #ededed;
    padding: 0.5rem;
}
figcaption {
    font-style: italic;
    margin: 1rem 0 0 0;
}
blockquote {
    background: #ededed url("../img/quotes.png") no-repeat top left;
    padding: 2rem;
    p {
        margin: 0 0 0 3rem;
        font-size: 0.9rem;
    }
    cite {
        font-size: 0.9rem;
        text-align: right;
        display: block;
        margin: 0.5rem 0 0 0;
    }
}
.navigation {
    .bg-light {
        background-color:transparent!important;
    }
}
.navigation.desktop {
    display: none;
    nav {
        position: fixed;
    }
    ul {
        list-style-type: none;
        padding: 20px 0 0 10px;
        a {
            font-size: 1.05rem;
            font-weight: 600;
            padding: 10px 0 10px 0;
            display: inline-block;
            line-height: 1.5;
            color: $color-link-blue;
            &:visited {
                color: $color-link-blue;
            }
            &:hover {
                color: $color-link-blue;
                background-color:transparent;
            }
            &:active {
                color: $color-link-blue;
                background-color:transparent;
            }
        }
    }
    
}
.navigation-mobile {
    display: inline-block;
    button span {
        background-image:url('../img/menu.png');
    }
    button.open span {
        color: $color-link-blue;
        // background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 352 512'><path stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'/></svg>");
        background-image:url('../img/close.png');

    }
    .bg-light {
        background-color:$color-lightest-grey!important;
    }
    a {
        font-size: 1.05rem;
        font-weight: 600;
        padding: 10px 0 10px 0;
        display: inline-block;
        line-height: 1.5;
        color: $color-link-blue;
    }
}
.row {
    margin-right: 25px;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .navigation.desktop {
        display: block;
    }
    .navigation-mobile {
        display: none;
    }
    main.container {
        padding-top: 0;
        margin-left: 0;
    }
    .row {
        margin-right: -15px;
    }
    figure {
        padding: 2rem;
    }
}